#### Column meanings:
taxing-in, taxing-out, diverting, and other delay reason columns, the unit is minutes - meaning how many minutes they spend on this delay reason

#### Airline codes:
UA: United Airlines
<br>AS: Alaska Airlines
<br>9E: Endeavor Air
<br>B6: JetBlue Airline
<br>EV: ExpressJet Airline
<br>F9: Frontier Airlines
<br>G4: Allegiant Air
<br>HA: Hawaiian Airlines
<br>MQ: Envoy Air
<br>NK: Spirit Airlines
<br>OH: PSA Airlines
<br>OO: SkyWest Airlines
<br>VX: Virgin America
<br>WN: Southwest Airlines
<br>YV: Mesa Airlines
<br>YX: Republic Airways
<br>AA: American Airlines
<br>DL: Delta Air Lines

#### Cancellation codes:
A: Carrier
<br>B: Weather
<br>C: NAS (National Air System) Delays or cancellations coded "NAS" are the type of weather delays that could be reduced with corrective action by the airports or the Federal Aviation Administration.
<br>D: Security

In [3]:
import pandas as pd

In [ ]:
df_2018 = pd.read_csv('./2018.csv')

In [ ]:
df_2018 = df_2018.drop('Unnamed: 27', axis = 1)

In [ ]:
df_2018.head()

In [ ]:
df_2018.shape

In [ ]:
df_2018.OP_CARRIER.unique()

In [ ]:
df_2018 = df_2018[df_2018.OP_CARRIER != 'VX']

In [ ]:
df_2018.OP_CARRIER.unique()

In [10]:
column_list = df_2018.columns.values.tolist()
column_list

['FL_DATE',
 'OP_CARRIER',
 'OP_CARRIER_FL_NUM',
 'ORIGIN',
 'DEST',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY']

In [11]:
df_2018 = df_2018[df_2018.WEATHER_DELAY.isna() == False]
df_2018 = df_2018.reset_index(drop = True)
df_2018.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,UA,2416,ORD,CLE,2059,2300.0,121.0,24.0,2324.0,...,0.0,72.0,80.0,48.0,316.0,121.0,0.0,8.0,0.0,0.0
1,2018-01-01,UA,2413,ORD,BTV,2114,2230.0,76.0,14.0,2244.0,...,0.0,121.0,118.0,99.0,763.0,0.0,11.0,0.0,0.0,62.0
2,2018-01-01,UA,2412,MCO,LAX,653,747.0,54.0,14.0,801.0,...,0.0,337.0,338.0,302.0,2218.0,54.0,0.0,1.0,0.0,0.0
3,2018-01-01,UA,2411,EWR,SMF,1810,1922.0,72.0,16.0,1938.0,...,0.0,386.0,339.0,319.0,2500.0,7.0,0.0,0.0,0.0,18.0
4,2018-01-01,UA,2410,RSW,EWR,1250,1337.0,47.0,12.0,1349.0,...,0.0,167.0,149.0,131.0,1068.0,29.0,0.0,0.0,0.0,0.0

CRS_ELAPSED_TIME: time on air
<br>AIR_TIME: taxi in + taxi out + elapsed time

In [12]:
df_2019 = pd.read_csv('./2019.csv')

In [13]:
df_2019 = df_2019.drop('Unnamed: 20', axis = 1)

In [14]:
df_2019.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2019-01-01,9E,3280,GNV,ATL,601.0,1.0,22.0,623.0,714.0,8.0,722.0,-1.0,51.0,300.0,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,9E,3281,MSP,CVG,1359.0,-5.0,15.0,1414.0,1629.0,4.0,1633.0,-36.0,75.0,596.0,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,9E,3282,DTW,CVG,1215.0,-5.0,18.0,1233.0,1323.0,6.0,1329.0,-16.0,50.0,229.0,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,9E,3283,TLH,ATL,1521.0,-6.0,14.0,1535.0,1618.0,7.0,1625.0,-14.0,43.0,223.0,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,9E,3284,ATL,FSM,1847.0,-15.0,18.0,1905.0,1935.0,5.0,1940.0,-25.0,90.0,579.0,NaN,NaN,NaN,NaN,NaN

In [15]:
df_2019.shape

(7422037, 20)

In [16]:
df_2019.OP_UNIQUE_CARRIER.unique()

array(['9E', 'AA', 'MQ', 'G4', 'OH', 'B6', 'YV', 'EV', 'F9', 'YX', 'HA',
       'NK', 'UA', 'OO', 'WN', 'AS', 'DL'], dtype=object)

In [17]:
df_2019 = df_2019[df_2019.WEATHER_DELAY.isna() == False]
df_2019 = df_2019.reset_index(drop=True)
df_2019.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2019-01-01,9E,3291,DTW,DAY,1552.0,12.0,68.0,1700.0,1735.0,3.0,1738.0,44.0,35.0,166.0,12.0,0.0,32.0,0.0,0.0
1,2019-01-01,9E,3295,DTW,EWR,1353.0,83.0,18.0,1411.0,1516.0,5.0,1521.0,59.0,65.0,488.0,0.0,0.0,59.0,0.0,0.0
2,2019-01-01,9E,3300,ATL,OAJ,2216.0,-4.0,56.0,2312.0,7.0,9.0,16.0,29.0,55.0,399.0,0.0,0.0,29.0,0.0,0.0
3,2019-01-01,9E,3317,FSM,ATL,1550.0,-8.0,10.0,1600.0,1817.0,42.0,1859.0,17.0,77.0,579.0,0.0,0.0,17.0,0.0,0.0
4,2019-01-01,9E,3322,DTW,LAN,2036.0,-4.0,88.0,2204.0,2229.0,4.0,2233.0,53.0,25.0,74.0,0.0,0.0,53.0,0.0,0.0

### Saving Cleaned Dataframes

In [26]:
df_2018.to_csv('df_2018_clean.csv', index=False)

In [27]:
df_2019.to_csv('df_2019_clean.csv', index=False)

### 2020 Data has nothing in delay details

In [18]:
df_2020 = pd.read_csv('./20.csv')

In [19]:
df_2020 = df_2020.drop('Unnamed: 27', axis = 1)

In [20]:
df_2020.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020-01-01,WN,5888,ONT,SFO,1851.0,41.0,44.0,1935.0,2049.0,...,27.0,0.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,WN,6276,ONT,SFO,1146.0,-4.0,13.0,1159.0,1310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,WN,4598,ONT,SJC,2016.0,-4.0,8.0,2024.0,2121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01,WN,4761,ONT,SJC,1350.0,10.0,10.0,1400.0,1503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01,WN,5162,ONT,SJC,916.0,1.0,6.0,922.0,1019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
df_2020.shape

NameError: name 'df_2020' is not defined

In [22]:
df_2020.OP_CARRIER.unique()

array(['WN', 'MQ', 'YV', 'HA', 'OH', 'AA', 'NK', 'OO', 'UA', 'YX', '9E',
       'G4', 'B6', 'AS', 'DL', 'EV', 'F9'], dtype=object)

In [23]:
# df = df_2020.copy()
df_2020 = df_2020[df_2020.NAS_DELAY.isna() == False]
df_2020 = df_2020.reset_index(drop=True)
df_2020.head()

Empty DataFrame
Columns: [FL_DATE, OP_CARRIER, OP_CARRIER_FL_NUM, ORIGIN, DEST, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, WHEELS_OFF, WHEELS_ON, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, AIR_TIME, DISTANCE, CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

[0 rows x 27 columns]